body{
    background-image: url(blaack.jpg);
    color: white;
    font-size: 20px;
}
h1{
    text-align: center;
    color: orange;
}
.welcome{
    font-weight: bolder;
}
.desc{
    text-align: center;
    font-style: italic;
}
.menu{
    text-align: center;
    color: orange;
    margin-bottom: 20px;
    font-weight: bolder;
}
.row{
    margin-left: 180px;
}
img{
    width: 100px;
    border-radius: 30%;
}