body{
    background-image: url(blaack.jpg);
    color: white;
    font-size: 20px;
}
h1{
    text-align: center;
    color: orange;
}
.welcome{
    font-weight: bolder;
}
.desc{
    text-align: center;
    font-style: italic;
}
.menu{
    text-align: center;
    color: orange;
    margin-bottom: 20px;
    font-weight: bolder;
}
.row{
    margin-left: 180px;
}
img{
    width: 100px;
    border-radius: 30%;
}
.prices h2{
    font-weight: bolder;
    color: orange;
}
.prices{
    margin-top: 50px;
}
.orderHead{
    color: orange;
    font-weight: bolder;
    margin-top: 50px;
}

#partTwo{
    display: none;
}
.orderh2{
    color: orange;
    font-weight: bolder;
}
table, th, td {
    border: 1px solid white;
}
#notify{
    display: none;
}
#deliver{
    display: none;
}
#pickUp{
    display: none;
}
.deliveryForm{
    display: none;
    text-align: center;
}
.checkoutForm{
    background-color: gray;
    padding: 20px;
}