body{
    background-image: url(blaack.jpg);
    color: white;
    font-size: 20px;
}
h1{
    text-align: center;
    color: orange;
}
.welcome{
    font-weight: bolder;
}
.desc{
    text-align: center;
    font-style: italic;
}